*.out
*.o
*.obj
*.exe

tarefa00/bomdia
tarefa00/boanoite

tarefa01/calendario
tarefa01/diferenca
tarefa01/sela

tarefa02/classificar
tarefa02/consultas

tarefa03/rainhas

tarefa04/editor

tarefa05/matrioscas

tarefa06/otimizar
tarefa06/calculadora

tarefa07/selecionar

tarefa08/buscador

tarefa09/caminho

tarefa10/centros
